.bg-dark {
  background-color: #343a40 !important;
  width: 100%;
  height: 100vh;
  color: #fff !important;
  text-align: center !important;
  align-items: center;
  justify-content: center
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary.active {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  opacity: 0.60;
  cursor: not-allowed;
}
.btn-primary[disabled]:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  opacity: 0.60;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.rounded-lg {
  border-radius: 0.5rem !important;
}

