<div class="bg-dark">
  <div>
    <p>{{dividendPerMonthProjectText}}</p>
    <form (ngSubmit)="onCalculated(dividendPerMonthForm.value)" [formGroup]="dividendPerMonthForm">
      <label for="DividendPerMonth">{{ dividendPerMonthText }}
        <input formControlName="dividendPerMonth" id="dividendPerMonth" name="dividendPerMonth" placeholder="ex. 100"
               type="number"/>
      </label><br>
      <label for="percentPerYear">{{ percentPerYearText }}
        <input formControlName="percentPerYear" id="percentPerYear" name="percentPerYear" placeholder="ใส่แค่ตัวเลข"
               type="number"/>
      </label>%<br>
      <button [disabled]="!dividendPerMonthForm.valid" class="btn-primary rounded-lg" id="calculated" name="calculated"
              type="submit">{{calculatedText}}
      </button>
      <button (click)="onClear()" [disabled]="!onFormChange()" class="btn-primary rounded-lg" id="clear" name="clear"
              type="submit">{{clearText}}
      </button>
    </form><br>
<!--    <h4>{{ moneyText }} {{ dividendPerMonth | number }}</h4>-->
    <h4>{{ money }} {{ dividendPerMonth | number }} {{ baht }}</h4>
  </div>
</div>
